<mat-sidenav-container class="sidenav-container">
  <!-- Right Side Sidenav -->
  <mat-sidenav #drawer [mode]="'over'" [position]="'end'" [(opened)]="isSidenavOpen" class="custom-sidenav">
    <div class="sidenav-content">
      <a mat-button routerLink="/organize">Organize Event</a>
      <a mat-button routerLink="/your-events">Your Event List</a>
      <a mat-button routerLink="/rsvp">RSVP</a>
      <a mat-button routerLink="/attendees">Attendee's List</a>
      <a mat-button routerLink="/profile">Profile & Account Settings</a>
      <button mat-button color="warn" (click)="logout()">Logout</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Logo -->
    <div class="logo" routerLink="/home">
      <img src="assets/logo2.png" alt="Logo" />
    </div>

    <!-- Top Menu (always visible) -->
    <mat-toolbar class="mat-elevation-z6 custom-toolbar">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/events">Events</a>
      <a mat-button routerLink="/movies">Movies</a>
      <a mat-button routerLink="/nearby">Nearby</a>
      <a mat-button routerLink="/contact">Contact</a>

      <span class="flex-spacer"></span>

      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <!-- Profile Circle with Initial -->
        <button mat-button [matMenuTriggerFor]="menu" class="profile-btn">
          <div class="profile-circle">
            {{ username ? (username[0] | uppercase) : '?' }}
          </div>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </ng-container>

      <!-- If logged out -->
      <ng-template #loggedOut>
        <button mat-button routerLink="/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>



      <!-- Hamburger
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ isSidenavOpen ? 'close' : 'menu' }}</mat-icon>
      </button> -->
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>